*.ckpt
__pycache__/
.vscode/
*.pyc
.uuid

# ignore cached files
*.pyc
/__pycache__/

# ignore model files
*.ckpt
*.safetensors

# ignore bfg report files
/..bfg-report/

/controlnet/data/
/controlnet/internal/
/controlnet/output/

output/
data/
internal/
wandb/
checkpoints/
*.jpg